################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XamarinBookStoreApp/XamarinBookStoreApp.Android/bin/Debug
/XamarinBookStoreApp/XamarinBookStoreApp.Android/obj
/XamarinBookStoreApp/XamarinBookStoreApp.iOS/obj/iPhone/Debug
/XamarinBookStoreApp/XamarinBookStoreApp.iOS/obj
/XamarinBookStoreApp/XamarinBookStoreApp/bin/Debug/netstandard2.0
/XamarinBookStoreApp/XamarinBookStoreApp/obj
/XamarinBookStoreApp/.vs/XamarinBookStoreApp/v16
/XamarinBookStoreApp/.vs/XamarinBookStoreApp/DesignTimeBuild
/XamarinBookStoreApp/XamarinBookStoreApp.iOS/bin/iPhone/Debug
